.navbar {
  width: 50%;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: black;
  transform: skew(-45deg);
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  position: fixed;
  margin-left: -3rem;
  z-index: 2; }

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform: skew(45deg); }

.navbar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 1.5rem;
  text-align: left;
  font-family: 'Poiret One', cursive; }

.navbar a:hover {
  color: white;
  text-shadow: 2px 2px 60px white, -2px -2px 60px white; }

.dropdown {
  overflow: hidden; }
  .dropdown i {
    padding-left: 0.2rem;
    color: white; }
  .dropdown .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0; }
  .dropdown .dropdown-content {
    padding-top: 1.5rem;
    display: none;
    position: absolute;
    width: 10rem;
    height: 0; }
  .dropdown .dropdown-content a {
    display: block;
    border-bottom: 0.3px solid black;
    background: rgba(0, 0, 0, 0.8);
    color: white; }
  .dropdown .dropdown-content a:hover {
    display: block;
    border-bottom: 0.3px solid black;
    background: white;
    color: black;
    font-weight: bolder; }

.dropdown:hover .dropdown-content {
  display: block; }

.down p {
  animation: fade 2s ease infinite;
  font-family: 'Poiret One', cursive; }

@keyframes fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.arrow {
  width: 6rem;
  height: 6rem;
  animation: move 2s linear infinite; }
@keyframes move {
  0% {
    margin-top: 4rem; }
  50% {
    margin-top: 0; }
  100% {
    margin-top: 4rem; } }
.act-1 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/lions-head.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.act-2 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/plattekli-gorge.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.act-3 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/climbing4.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.act-4 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/climbing5.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.act-5 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/canoe4.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.act-6 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/canoe5.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.act-7 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/hunting1.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.act-8 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/lasarus-game-farm.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.act-9 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/camping.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.act-10 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/camping1.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.act-11 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/fishing1.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.act-12 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/fishing2.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.slide {
  font-size: 1.2rem;
  padding: 12rem 0 1rem 0;
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.726);
  opacity: 1;
  transition: opacity 0.5s ease-out, margin-left 0.5s ease-out; }

.info {
  height: 6rem;
  text-align: center;
  opacity: 0;
  padding: 0 1rem;
  transition: opacity 0.5s ease-out;
  margin: 0; }

.bg-1:hover .act-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/lions-head.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.bg-2:hover .act-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/plattekli-gorge.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.bg-3:hover .act-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/climbing4.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.bg-4:hover .act-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/climbing5.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.bg-5:hover .act-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/canoe4.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.bg-6:hover .act-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/canoe5.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.bg-7:hover .act-7 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hunting1.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.bg-8:hover .act-8 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/lasarus-game-farm.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.bg-9:hover .act-9 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/camping.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.bg-10:hover .act-10 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/camping1.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.bg-11:hover .act-11 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/fishing1.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.bg-12:hover .act-12 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/fishing2.jpg);
  width: 100%;
  height: 24rem;
  background-size: 100% 100%; }

.box-1:hover .slide {
  margin-left: 20rem;
  opacity: 0;
  transition: opacity 0.5s ease-out, margin-left 1s ease-out; }

.box-2:hover .slide {
  margin-left: 20rem;
  opacity: 0;
  transition: opacity 0.5s ease-out, margin-left 1s ease-out; }

.content-1:hover .slide {
  margin-left: 20rem;
  opacity: 0;
  transition: opacity 0.5s ease-out, margin-left 1s ease-out; }

.content-2:hover .slide {
  margin-left: 20rem;
  opacity: 0;
  transition: opacity 0.5s ease-out, margin-left 1s ease-out; }

.content-1:hover .info {
  opacity: 1;
  transition: opacity 0.5s ease-out; }

.content-2:hover .info {
  opacity: 1;
  transition: opacity 0.5s ease-out; }

.box-1:hover .info {
  opacity: 1;
  transition: opacity 0.5s ease-out; }

.box-2:hover .info {
  opacity: 1;
  transition: opacity 0.5s ease-out; }

.read-more {
  text-align: center;
  padding: 1rem;
  margin: 0;
  color: #fdfdfd;
  text-decoration: underline; }
  .read-more a {
    color: #fdfdfd; }
  .read-more a:hover {
    color: #ffb300; }

@font-face {
  font-family: 'Poiret One';
  src: url(../fonts/PoiretOne-Regular.ttf); }
html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  overflow-x: hidden; }

.main-header {
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.9) 50%, rgba(0, 0, 0, 0.8) 50%), url(../images/camping.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 42rem;
  color: white; }

.heading {
  text-align: center;
  padding-top: 15rem;
  font-size: 2rem;
  letter-spacing: 0.2rem; }

.main-title {
  padding: 0 1rem 1rem 1rem;
  border-bottom: 2px solid white; }

.main-heading {
  font-family: 'Poiret One', cursive;
  text-shadow: 5px 10px 3px black, 0 0 5px rgba(255, 255, 255, 0.2); }

footer {
  font-family: 'Poiret One', cursive;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: white;
  text-align: center;
  background: black;
  border-bottom: 1rem solid white;
  padding: 2rem;
  margin-top: 6rem; }

.hero {
  color: #424242;
  height: 10rem;
  text-align: center;
  font-size: 3rem;
  font-family: 'Poiret One', cursive; }
  .hero h2 {
    padding: 1rem;
    margin: 0 32rem;
    border-bottom: 2px solid #424242; }

.hiking {
  border-bottom: 2px solid #555555;
  padding: 2rem;
  padding-bottom: 4rem;
  margin: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "intro intro" "hiking hiking" "box-1 box-2"; }

.intro {
  grid-area: intro;
  margin: 10rem 2rem 10rem 2rem;
  padding: 0 2rem;
  font-family: 'Poiret One', cursive;
  font-family: 'Poiret One' cursive;
  font-weight: bolder;
  font-size: 1.5rem;
  color: #555555;
  text-align: center;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  border-left: 2px solid #555555;
  border-right: 2px solid #555555; }

.heading-1 {
  padding-top: 3.5rem;
  color: #555555;
  font-family: 'Poiret One', cursive;
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2rem;
  grid-area: hiking; }

.box-1 {
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.6rem; }

.box-2 {
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.6rem; }

.activities {
  border-bottom: 2px solid #555555;
  margin: 2rem;
  padding: 2rem;
  padding-bottom: 4rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "clmb clmb" "box-3 box-4"; }

.headings {
  grid-area: clmb;
  padding-top: 3.5rem;
  color: #555555;
  font-family: 'Poiret One', cursive;
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.2rem; }

.content-1 {
  grid-area: box-3;
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.6rem; }

.content-2 {
  grid-area: box-4;
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.6rem; }

.gallery {
  padding: 4rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 11rem);
  background: black; }

.item img {
  width: 100%;
  height: 100%; }

.item {
  box-shadow: 0 0 5px white;
  transition: box-shadow 1s ease-in-out, opacity 1s ease-out;
  opacity: 0.8; }
  .item.item:hover {
    box-shadow: 0 0 30px white;
    transition: box-shadow 0.2s ease-in-out, opacity 0.5s ease-out;
    opacity: 1; }

.pic-1 {
  grid-column: span 2;
  grid-row: span 2; }

.pic-2 {
  grid-column: span 2; }

.pic-7 {
  grid-column: span 2; }

.pic-8 {
  grid-column: span 2; }

.pic-10 {
  grid-column: span 3;
  grid-row: span 2; }

.pic-11 {
  grid-column: span 2;
  grid-row: span 2; }

.pic-15 {
  grid-column: span 2; }

.pic-16 {
  grid-column: span 3;
  grid-row: span 2; }

.pic-18 {
  grid-column: span 2; }

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.158)), url(../images/rockclimbing.jpg);
  background-size: 100% 100%;
  height: 100vh; }

.cont-form {
  background: rgba(0, 0, 0, 0.219);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  width: 30%;
  color: white;
  font-family: 'Poiret One', cursive;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.329); }

.head {
  text-align: center;
  padding: 1rem;
  border-bottom: 2px solid white; }

.first-name input {
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline-style: none;
  padding: 0.5rem;
  width: 15rem;
  color: #131313;
  font-family: 'Poiret One', cursive;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }
.first-name [type="text"] {
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline-style: none;
  padding: 0.5rem;
  width: 15rem;
  color: #131313;
  font-family: 'Poiret One', cursive;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }

.last-name input {
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline-style: none;
  padding: 0.5rem;
  width: 15rem;
  color: #131313;
  font-family: 'Poiret One', cursive;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }
.last-name [type="text"] {
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline-style: none;
  padding: 0.5rem;
  width: 15rem;
  color: #131313;
  font-family: 'Poiret One', cursive;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }

.email input {
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline-style: none;
  padding: 0.5rem;
  width: 15rem;
  color: #131313;
  font-family: 'Poiret One', cursive;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }

.options select {
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline-style: none;
  padding: 0.5rem;
  width: 15rem;
  color: #131313;
  font-family: 'Poiret One', cursive;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  width: 8rem; }

textarea {
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline-style: none;
  padding: 0.5rem;
  width: 15rem;
  color: #131313;
  font-family: 'Poiret One', cursive;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem; }

/*# sourceMappingURL=main.css.map */
