
// STYLES FOR THE NAVBAR

.navbar {
    width: 70vw;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: rgb(0, 0, 0);
    transform: skew(-45deg);
    border-bottom: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    position: fixed;
    margin-left: -3rem;
    z-index: 2;
}

.navbar ul {
   list-style: none;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   transform: skew(45deg);
}

.navbar {
    
    a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.65);
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding: 1rem;;
        text-align: left;
        font-family: 'Poiret One', cursive;
    }

    li {
        text-align: center;
    }

    .active {
        border-bottom: 1px solid rgb(255, 255, 255);
        padding: 0 1rem;
    }
}

.navbar a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 60px rgb(255, 255, 255),
                -2px -2px 60px rgb(255, 255, 255);
}
  


// THIS IS THE STYLES FOR THE DROPDOWN MENU

.dropdown {
    // overflow: hidden;

    .dropdown .dropbtn {
        font-size: 16px; 
        border: none;
        outline: none;
        color: rgb(0, 0, 0);
        font-family: inherit; 
        margin: 0; 
    }
      
    .dropdown-content {
        padding-top: 1.5rem;
        display: none;
        position: absolute;
        width: 10rem;
        height: 0;
    }
    
    .dropdown-content a {
        display: block;
        border-bottom: 0.3px solid rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.8);
        color: rgb(255, 255, 255);
    }

    .dropdown-content a:hover {
        display: block;
        border-bottom: 0.3px solid rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-weight: bolder;
    }

    .menu {
        background: rgb(255, 255, 255);
        padding: 1rem;
        color: rgb(0, 0, 0)
    }
    
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.down p {
    animation: fade 2s ease infinite;
    font-family: 'Poiret One', cursive;
}

@keyframes fade {
    0%   {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

.arrow {
    width: 6rem;
    height: 6rem;
    animation: move 2s linear infinite;

    @keyframes move {
        0% {margin-top: 4rem;}
        50%{margin-top: 0;}
        100%{margin-top: 4rem;}
    }
}



// ACTIVITIES AND THERE BACKGROUNDS

.act-1 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/lions-head.jpg);
    @include imagebox;
    height: 24rem;
}

.act-2 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/plattekli-gorge.jpg);
    @include imagebox;  
    height: 24rem;
}

.act-3 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/climbing4.jpg);
    @include imagebox;
    height: 24rem;
}

.act-4 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/climbing5.jpg);
    @include imagebox;
    height: 24rem;
}

.act-5 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/canoe4.jpg);
    @include imagebox;
    height: 24rem;
}

.act-6 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/canoe5.jpg);
    @include imagebox;
    height: 24rem;
}

.act-7 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/hunting1.jpg);
    @include imagebox;
    height: 24rem;
}

.act-8 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/lasarus-game-farm.jpg);
    @include imagebox;
    height: 24rem;
}

.act-9 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/camping.jpg);
    @include imagebox;
    height: 24rem;
}

.act-10 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/camping1.jpg);
    @include imagebox;
    height: 24rem;
}

.act-11 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/fishing1.jpg);
    @include imagebox;
    height: 24rem;
}

.act-12 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/fishing2.jpg);
    @include imagebox;
    height: 24rem;
}





// THIS IS THE STYLES FOR THE TEXT ON THE IMAGES

.slide {
    padding: 2rem;
}

.info {
    height: 6rem;
    text-align: center;
    opacity: 0;
    padding: 0 1rem;
    transition: opacity 0.5s ease-out;
    margin: 0;
}



// IMAGE FULL OPACITY EFFECT FOR EACH ACTIVITY

.bg-1:hover .act-1 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/lions-head.jpg);
    @include imagebox;
}

.bg-2:hover .act-2 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/plattekli-gorge.jpg);
    @include imagebox;
}

.bg-3:hover .act-3 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/climbing4.jpg);
    @include imagebox;
}

.bg-4:hover .act-4 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/climbing5.jpg);
    @include imagebox;
}

.bg-5:hover .act-5 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/canoe4.jpg);
    @include imagebox;
}

.bg-6:hover .act-6 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/canoe5.jpg);
    @include imagebox;
}

.bg-7:hover .act-7 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hunting1.jpg);
    @include imagebox;
}

.bg-8:hover .act-8 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/lasarus-game-farm.jpg);
    @include imagebox;
}

.bg-9:hover .act-9 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/camping.jpg);
    @include imagebox;
}

.bg-10:hover .act-10 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/camping1.jpg);
    @include imagebox;
}

.bg-11:hover .act-11 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/fishing1.jpg);
    @include imagebox;
}

.bg-12:hover .act-12 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/fishing2.jpg);
    @include imagebox;
}


.slide {
    text-align: center;
    padding-top: 8rem;
    transition: opacity 0.5s ease-out, margin-left 0.5s ease-out;
    
}

.content-1:hover .slide {
    margin-left: 8rem;
    opacity: 0;
    transition: opacity 0.5s ease-out, margin-left 0.5s ease-out;
}

.content-2:hover .slide {
    margin-left: 8rem;
    opacity: 0;
    transition: opacity 0.5s ease-out, margin-left 0.5s ease-out;
}

.box-1:hover .slide {
    margin-left: 8rem;
    opacity: 0;
    transition: opacity 0.5s ease-out, margin-left 0.5s ease-out;
}

.box-2:hover .slide {
    margin-left: 8rem;
    opacity: 0;
    transition: opacity 0.5s ease-out, margin-left 0.5s ease-out;
}


// HOVER EFFECT FOR FOR THE PARAGRAPHS 

.content-1:hover .info {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.content-2:hover .info {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.box-1:hover .info {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.box-2:hover .info {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}



// STYLES FOR THE READMORE BUTTONS

.read-more {
    text-align: center;
    padding: 2rem;
    margin: 0;
    color: rgb(253, 253, 253);
    text-decoration: underline;

    a:link {
        color: rgb(253, 253, 253);
    }

    a:hover {
        color: rgb(255, 179, 0);
    }
}



// THIS IS THE STYLES FOR THE CONTACT FORM


.details {
    margin-top: 4rem;
    padding: rem;
}

.icon i {
    font-size: 5rem;
    padding: 2rem 0 2rem 0;
    width: 4rem;
    height: 4rem;
}

.icon span {
    margin-left: 1rem;
    opacity: 0;
    transition: margin-left 1s ease-out, opacity 1s ease-out;
}

.icon:hover span {
    margin-left: 4rem;
    opacity: 1;
    transition: margin-left 0.3s ease-out, opacity 0.3s ease-out;
}






