@keyframes move {
    0% {margin-top: 4rem;}
    50%{margin-top: 0;}
    100%{margin-top: 4rem;}
}

.navbar {
    width: 50%;
    padding: 0.5rem;
    padding-right: 2rem;
    background: rgba(0, 0, 0, 0.6);
    transform: skew(-45deg);
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    // position: fixed;
}

.navbar ul {
   list-style: none;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   transform: skew(45deg);
}

.navbar a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.65);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 1.5rem;
    text-align: left;
    font-family: 'Poiret One', cursive;
}

.navbar a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 60px rgb(255, 255, 255),
                -2px -2px 60px rgb(255, 255, 255);
}
  
.dropdown {
    overflow: hidden;

    i {
        padding-left: 0.2rem;
        color: rgb(255, 255, 255);
    }

    .dropdown .dropbtn {
        font-size: 16px; 
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit; 
        margin: 0; 
    }
      
    .dropdown-content {
        padding-top: 1.5rem;
        display: none;
        position: absolute;
        width: 10rem;
        height: 0;
    }
    
    .dropdown-content a {
        display: block;
        border-bottom: 0.3px solid rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.8);
        color: rgb(255, 255, 255);
    }

    .dropdown-content a:hover {
        display: block;
        border-bottom: 0.3px solid rgb(0, 0, 0);
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-weight: bolder;
    }
    
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
    width: 6rem;
    height: 6rem;
    animation: move 2s linear infinite;
}


// ACTIVITIES AND THERE BACKGROUNDS
.act-1 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/lions-head.jpg);
    @include imagebox;
}

.act-2 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/plattekli-gorge.jpg);
    @include imagebox;  
}

.act-3 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/climbing4.jpg);
    @include imagebox;
}

.act-4 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/climbing5.jpg);
    @include imagebox;
}

.act-5 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/canoe4.jpg);
    @include imagebox;
}

.act-6 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/canoe5.jpg);
    @include imagebox;
}

.act-7 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/hunting1.jpg);
    @include imagebox;
}

.act-8 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/lasarus-game-farm.jpg);
    @include imagebox;
}

.act-9 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/camping.jpg);
    @include imagebox;
}

.act-10 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/camping1.jpg);
    @include imagebox;
}

.act-11 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/fishing1.jpg);
    @include imagebox;
}

.act-12 {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/fishing2.jpg);
    @include imagebox;
}





// THIS IS THE STYLES FOR THE TEXT ON THE IMAGES

.slide {
    font-size: 2rem;
    padding-top: 12rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.726);
    opacity: 1;
    transition: opacity 0.5s ease-out, margin-left 0.5s ease-out;
}



// IMAGE FULL OPACITY EFFECT FOR EACH ACTIVITY
.bg-1:hover .act-1 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/lions-head.jpg);
    @include imagebox;
}

.bg-2:hover .act-2 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/plattekli-gorge.jpg);
    @include imagebox;
}

.bg-3:hover .act-3 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/climbing4.jpg);
    @include imagebox;
}

.bg-4:hover .act-4 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/climbing5.jpg);
    @include imagebox;
}

.bg-5:hover .act-5 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/canoe4.jpg);
    @include imagebox;
}

.bg-6:hover .act-6 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/canoe5.jpg);
    @include imagebox;
}

.bg-7:hover .act-7 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/hunting1.jpg);
    @include imagebox;
}

.bg-8:hover .act-8 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/lasarus-game-farm.jpg);
    @include imagebox;
}

.bg-9:hover .act-9 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/camping.jpg);
    @include imagebox;
}

.bg-10:hover .act-10 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/camping1.jpg);
    @include imagebox;
}

.bg-11:hover .act-11 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/fishing1.jpg);
    @include imagebox;
}

.bg-12:hover .act-12 {
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../images/fishing2.jpg);
    @include imagebox;
}


// SLIDE IN ANIMATION FOR THE TITLES OF EACH ACTIVITIES


.box-1:hover .slide {
    @include act-name-slider;
}

.box-2:hover .slide {
    @include act-name-slider;
}

.content-1:hover .slide {
    @include act-name-slider;
}

.content-2:hover .slide {
    @include act-name-slider;
}

.read-more {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Poiret One', cursive;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(160, 160, 160);

    &:hover {
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
        background-color: rgb(194, 194, 194);
        transition: background-color 0.4s ease-out;
        color: rgb(56, 56, 56);
    }
}







