.hiking {
    border-bottom: 2px solid rgb(85, 85, 85);
    padding: 2rem;
    margin: 2rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "intro intro"
    "hiking hiking"
    "box-1 box-2";
}

// INTRO TO THE WEBSITE

.intro {
    grid-area: intro;
    margin: 10rem 2rem 10rem 2rem;
    padding: 0 2rem;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    font-size: 1.5rem;
    color: rgb(85, 85, 85);
    text-align: center;
    letter-spacing: 0.05rem;
    line-height: 2rem;
    border-left: 2px solid rgb(85, 85, 85);
    border-right: 2px solid rgb(85, 85, 85);
}

// STYLES FOR THE HIKING SECTION
.heading-1 {
    @include headings;
    grid-area: hiking;
}

.box-1 {
    grid-area: box-1;
    @include section;
}

.box-2 {
    grid-area: box-2; 
    @include section;
}

// END OF HIKING SECTION


// THIS IS THE SECTION FOR THE CLIMBING

.climbing {
    border-bottom: 2px solid rgb(85, 85, 85);
    margin: 2rem;
    padding: 2rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "clmb clmb"
    "box-3 box-4";
}

.heading-2 {
    grid-area: clmb;
    @include headings;
}

.box-3 {
    grid-area: box-3;
    @include section;
}

.box-4 {
    grid-area: box-4; 
    @include section;
}

// THIS SECTION IS FOR THE CANOEING

.canoe {
    padding: 2rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "clmb clmb"
    "box-3 box-4";
}

.heading-3 {
    grid-area: clmb;
    @include headings;
}

.box-5 {
    grid-area: box-3;
    @include section;
}

.box-6 {
    grid-area: box-4; 
    @include section;
}



