// Mixins

@mixin section {
    color: rgb(119, 119, 119);
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
}

@mixin  text {
    color: rgb(255, 255, 255);
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
}

@mixin headings {
    margin-top: 0;
    color: rgb(85, 85, 85);
    font-family: 'Poiret One', cursive;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.2rem;
}

@mixin imagebox {
    width: 100%;
    background-size: 100% 100%;
}

@mixin act-name-slider {
    margin-left: 20rem;
    opacity: 0;
    transition: opacity 0.5s ease-out, margin-left 1s ease-out;
}

@mixin inputs {
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline-style: none;
    padding: 0.6rem;
    color: rgb(255, 255, 255);
    font-family: 'Poiret One', cursive;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    background: rgb(0, 0, 0);
}
